#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ...............................................AboutSection......................................................... */
/* @keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slideLeft 0.9s ease-out forwards;
}

.animate-slide-right {
  animation: slideRight 0.9s ease-out forwards;
} */
/* ...........................................TEAM SECTION....................................................... */
/* @keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease forwards;
  opacity: 0;
} */
/* Global Font Awesome Icon Style */
i[class^="fa-"],
i[class*=" fa-"] {
  font-size: 22px;
  color: #2d6cff;
  transition: 0.3s ease;
}

/* Duotone Primary + Secondary colors */
.fa-duotone {
  --fa-primary-color: #2d6cff;
  --fa-secondary-color: #7aa2ff;
  --fa-secondary-opacity: 0.5;
}

/* Hover effect */
i:hover {
  transform: scale(1.1);
}
